In [1]:
import pandas as pd
from utils import aggregate_earnings_calls, transform_earnings_calls, prepare_for_merge_ec, fill_missing_earning_calls, \
    transform_tenkreports, aggregate_tenkreports, prepare_for_merge_10k, fill_missing_10k

In [2]:
# Load the processed target data
target = pd.read_csv('./clean/merged_compustat_returns_cleaned_data.csv')
target.head()

,PERMNO,PERMCO,cusip,Ticker,SICCD,NAICS,MthCalDt,MthRet,sprtrn,datadate,...,xopry,cogsy,chechy,earnings_growth,revenue_growth,net_debt_change,capex_growth,eps_surprise,dividend_change,repurchase_intensity
0,54981,21682,86666510,SNI,251,0,1973-01-31,0.018182,-0.017111,1973-01-31,...,0.0,0.0,-0.386,0.185714,0.011487,0.592,0.0,0.00,0.0,0.039631
1,54981,21682,86666510,SNI,251,0,1973-02-28,-0.080357,-0.037490,1973-02-28,...,0.0,0.0,-0.386,0.185714,0.011487,0.592,0.0,0.00,0.0,0.039631
2,54981,21682,86666510,SNI,251,0,1973-04-30,-0.106383,-0.040800,1973-04-30,...,0.0,0.0,-0.386,0.200803,0.266296,0.592,0.0,0.05,0.0,0.031297
3,54981,21682,86666510,SNI,251,0,1973-05-31,-0.059821,-0.018884,1973-05-31,...,0.0,0.0,-0.386,0.200803,0.266296,0.592,0.0,0.05,0.0,0.031297
4,54981,21682,86666510,SNI,251,0,1973-07-31,0.525000,0.037982,1973-07-31,...,0.0,0.0,-0.386,0.200803,0.266296,0.592,0.0,0.00,0.0,0.031297

In [3]:
# Load earnings calls data
earnings_calls = pd.read_parquet('./clean/sentiment_earning_calls.parquet')
earnings_calls.head()

,transcriptid,componentorder,mostimportantdateutc,gvkey,companyname,transcriptcomponenttypename,cleaned_text,sentiment,sentiment_score
0,46682,1,2010-01-04,030247,Viasystems Corporation,Presentation Operator Message,"good afternoon, everyone, and welcome to merix...",neutral,0.798825
1,46682,2,2010-01-04,030247,Viasystems Corporation,Presenter Speech,"thank you. happy new year, everyone. in octobe...",negative,0.792872
2,46682,3,2010-01-04,030247,Viasystems Corporation,Presenter Speech,"thanks, mike, and good afternoon, everyone. as...",positive,0.952724
3,46682,4,2010-01-04,030247,Viasystems Corporation,Presenter Speech,"thanks, kelly. as you can tell by our comments...",positive,0.891024
4,46682,5,2010-01-04,030247,Viasystems Corporation,Question and Answer Operator Message,and our first question comes from matt sheerin...,neutral,0.922422

In [4]:
earnings_calls = transform_earnings_calls(earnings_calls)
earnings_calls

,transcriptid,componentorder,mostimportantdateutc,gvkey,companyname,transcriptcomponenttypename,cleaned_text,sentiment,sentiment_score,sentiment_label,weighted_sentiment
0,46682,1,2010-01-04,30247,Viasystems Corporation,Presentation Operator Message,"good afternoon, everyone, and welcome to merix...",neutral,0.798825,0,0.000000
1,46682,2,2010-01-04,30247,Viasystems Corporation,Presenter Speech,"thank you. happy new year, everyone. in octobe...",negative,0.792872,-1,-0.792872
2,46682,3,2010-01-04,30247,Viasystems Corporation,Presenter Speech,"thanks, mike, and good afternoon, everyone. as...",positive,0.952724,1,0.952724
3,46682,4,2010-01-04,30247,Viasystems Corporation,Presenter Speech,"thanks, kelly. as you can tell by our comments...",positive,0.891024,1,0.891024
4,46682,5,2010-01-04,30247,Viasystems Corporation,Question and Answer Operator Message,and our first question comes from matt sheerin...,neutral,0.922422,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
12475891,2164922,40,2020-12-30,161925,China Finance Online Co. Limited,Answer,,neutral,0.424185,0,0.000000
12475892,2164922,41,2020-12-30,161925,China Finance Online Co. Limited,Answer,although the chinese economy is leading the gr...,positive,0.906605,1,0.906605
12475893,2164922,42,2020-12-30,161925,China Finance Online Co. Limited,Question and Answer Operator Message,as there are no further questions at this time...,neutral,0.937188,0,0.000000
12475894,2164922,43,2020-12-30,161925,China Finance Online Co. Limited,Answer,"thank you, everybody, for attending china fina...",neutral,0.730117,0,0.000000
12475895,2164922,44,2020-12-30,161925,China Finance Online Co. Limited,Question and Answer Operator Message,thank you so much. and that does conclude our ...,neutral,0.919137,0,0.000000

In [5]:
weighted_sentiment_ec = aggregate_earnings_calls(earnings_calls)
weighted_sentiment_ec

         gvkey mostimportantdateutc  weighted_sentiment_earnings_calls
0         1004           2010-03-17                           0.075815
1         1004           2010-07-14                           0.072612
2         1004           2010-09-16                           0.120646
3         1004           2010-12-16                           0.043123
4         1004           2011-03-16                           0.106711
...        ...                  ...                                ...
214797  346837           2017-03-06                           0.091923
214798  346837           2017-05-10                           0.100560
214799  355717           2020-02-07                          -0.002957
214800  355717           2020-06-26                           0.076433
214801  355717           2020-09-04                           0.050665

[214802 rows x 3 columns]

In [6]:
target, weighted_sentiment_ec = prepare_for_merge_ec(target, weighted_sentiment_ec)

In [7]:
target.head()

,PERMNO,PERMCO,cusip,Ticker,SICCD,NAICS,MthCalDt,MthRet,sprtrn,datadate,...,xopry,cogsy,chechy,earnings_growth,revenue_growth,net_debt_change,capex_growth,eps_surprise,dividend_change,repurchase_intensity
0,54981,21682,86666510,SNI,251,0,1973-01-31,0.018182,-0.017111,1973-01-31,...,0.0,0.0,-0.386,0.185714,0.011487,0.592,0.0,0.00,0.0,0.039631
1,54981,21682,86666510,SNI,251,0,1973-02-28,-0.080357,-0.037490,1973-02-28,...,0.0,0.0,-0.386,0.185714,0.011487,0.592,0.0,0.00,0.0,0.039631
2,54981,21682,86666510,SNI,251,0,1973-04-30,-0.106383,-0.040800,1973-04-30,...,0.0,0.0,-0.386,0.200803,0.266296,0.592,0.0,0.05,0.0,0.031297
3,54981,21682,86666510,SNI,251,0,1973-05-31,-0.059821,-0.018884,1973-05-31,...,0.0,0.0,-0.386,0.200803,0.266296,0.592,0.0,0.05,0.0,0.031297
4,54981,21682,86666510,SNI,251,0,1973-07-31,0.525000,0.037982,1973-07-31,...,0.0,0.0,-0.386,0.200803,0.266296,0.592,0.0,0.00,0.0,0.031297

In [8]:
merged_earning_calls = pd.merge_asof(
    target,
    weighted_sentiment_ec,
    left_on='MthCalDt',
    right_on='mostimportantdateutc',
    by='gvkey',
    direction='backward'
)

In [9]:
merged_earning_calls

,PERMNO,PERMCO,cusip,Ticker,SICCD,NAICS,MthCalDt,MthRet,sprtrn,datadate,...,chechy,earnings_growth,revenue_growth,net_debt_change,capex_growth,eps_surprise,dividend_change,repurchase_intensity,mostimportantdateutc,weighted_sentiment_earnings_calls
0,54981,21682,86666510,SNI,251,0,1973-01-31,0.018182,-0.017111,1973-01-31,...,-0.386,0.185714,0.011487,0.592,0.000000,0.00,0.000000,0.039631,NaT,NaN
1,54981,21682,86666510,SNI,251,0,1973-02-28,-0.080357,-0.037490,1973-02-28,...,-0.386,0.185714,0.011487,0.592,0.000000,0.00,0.000000,0.039631,NaT,NaN
2,54981,21682,86666510,SNI,251,0,1973-04-30,-0.106383,-0.040800,1973-04-30,...,-0.386,0.200803,0.266296,0.592,0.000000,0.05,0.000000,0.031297,NaT,NaN
3,54981,21682,86666510,SNI,251,0,1973-05-31,-0.059821,-0.018884,1973-05-31,...,-0.386,0.200803,0.266296,0.592,0.000000,0.05,0.000000,0.031297,NaT,NaN
4,54981,21682,86666510,SNI,251,0,1973-07-31,0.525000,0.037982,1973-07-31,...,-0.386,0.200803,0.266296,0.592,0.000000,0.00,0.000000,0.031297,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493732,21367,58328,03464Y10,AOMR,6798,531110,2024-12-31,-0.054027,-0.024990,2024-12-31,...,-1.603,-0.147239,0.024968,453.718,0.000000,-0.61,-0.027907,0.159651,NaT,NaN
493733,12570,20964,45073V10,ITT,3594,333996,2024-12-31,-0.084807,-0.024990,2024-12-31,...,-49.900,0.262607,0.105909,226.500,0.151487,1.56,0.092902,0.032693,2020-10-30,0.034121
493734,71175,21798,91529Y10,UNM,6321,524114,2024-12-31,-0.050325,-0.024990,2024-12-31,...,16.800,0.385808,0.041013,41.600,-0.067507,1.95,0.070011,0.075467,2020-10-28,0.072142
493735,83112,14382,03416410,ANDE,5150,115114,2024-12-31,-0.151236,-0.024990,2024-12-31,...,-82.083,0.126712,-0.236782,-16.589,-0.008349,1.32,0.035471,0.000924,2020-11-04,0.095596
493736,23201,59327,Y9233510,USEA,0,483211,2024-12-31,-0.108571,-0.024990,2024-12-31,...,-7.739,-16.307692,0.259850,-5.554,-0.999914,-0.21,-0.860850,0.000946,NaT,NaN

In [10]:
merged_earning_calls = fill_missing_earning_calls(merged_earning_calls)

In [11]:
merged_earning_calls.isna().sum().sum()

0

In [12]:
merged_earning_calls

,PERMNO,PERMCO,cusip,Ticker,SICCD,NAICS,MthCalDt,MthRet,sprtrn,datadate,...,chechy,earnings_growth,revenue_growth,net_debt_change,capex_growth,eps_surprise,dividend_change,repurchase_intensity,mostimportantdateutc,weighted_sentiment_earnings_calls
0,54981,21682,86666510,SNI,251,0,1973-01-31,0.018182,-0.017111,1973-01-31,...,-0.386,0.185714,0.011487,0.592,0.000000,0.00,0.000000,0.039631,1973-01-31,0.000000
1,54981,21682,86666510,SNI,251,0,1973-02-28,-0.080357,-0.037490,1973-02-28,...,-0.386,0.185714,0.011487,0.592,0.000000,0.00,0.000000,0.039631,1973-02-28,0.000000
2,54981,21682,86666510,SNI,251,0,1973-04-30,-0.106383,-0.040800,1973-04-30,...,-0.386,0.200803,0.266296,0.592,0.000000,0.05,0.000000,0.031297,1973-04-30,0.000000
3,54981,21682,86666510,SNI,251,0,1973-05-31,-0.059821,-0.018884,1973-05-31,...,-0.386,0.200803,0.266296,0.592,0.000000,0.05,0.000000,0.031297,1973-05-31,0.000000
4,54981,21682,86666510,SNI,251,0,1973-07-31,0.525000,0.037982,1973-07-31,...,-0.386,0.200803,0.266296,0.592,0.000000,0.00,0.000000,0.031297,1973-07-31,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493732,21367,58328,03464Y10,AOMR,6798,531110,2024-12-31,-0.054027,-0.024990,2024-12-31,...,-1.603,-0.147239,0.024968,453.718,0.000000,-0.61,-0.027907,0.159651,2024-12-31,0.000000
493733,12570,20964,45073V10,ITT,3594,333996,2024-12-31,-0.084807,-0.024990,2024-12-31,...,-49.900,0.262607,0.105909,226.500,0.151487,1.56,0.092902,0.032693,2020-10-30,0.034121
493734,71175,21798,91529Y10,UNM,6321,524114,2024-12-31,-0.050325,-0.024990,2024-12-31,...,16.800,0.385808,0.041013,41.600,-0.067507,1.95,0.070011,0.075467,2020-10-28,0.072142
493735,83112,14382,03416410,ANDE,5150,115114,2024-12-31,-0.151236,-0.024990,2024-12-31,...,-82.083,0.126712,-0.236782,-16.589,-0.008349,1.32,0.035471,0.000924,2020-11-04,0.095596
493736,23201,59327,Y9233510,USEA,0,483211,2024-12-31,-0.108571,-0.024990,2024-12-31,...,-7.739,-16.307692,0.259850,-5.554,-0.999914,-0.21,-0.860850,0.000946,2024-12-31,0.000000

In [13]:
tenkreports = pd.read_parquet('./clean/sentiment_tenkreports.parquet')
tenkreports

,filing_date,report_date,report_year,cik,company_conformed_name,cleaned_text,sentiment,sentiment_score
0,2016-08-24,2008-12-31,2008,0001110648,"IMAGE PROTECT, INC.",financial statements financial statements inde...,neutral,0.936196
1,2016-07-28,2009-09-30,2009,0001316854,Uranium Hunter CORP,financial statements. see the financial statem...,neutral,0.939092
2,2016-07-28,2010-09-30,2010,0001316854,Uranium Hunter CORP,financial statements. see the financial statem...,neutral,0.939092
3,2016-08-19,2010-10-31,2010,0001334325,"Coda Octopus Group, Inc.",item 7. management's discussion and analysis o...,neutral,0.944394
4,2016-03-25,2011-05-31,2011,0001438672,BAKKEN ENERGY CORP.,management's discussion and analysis of financ...,neutral,0.937800
...,...,...,...,...,...,...,...,...
8317,2016-12-12,2016-10-31,2016,0000883241,SYNOPSYS INC,management's discussion and analysis of financ...,neutral,0.947523
8318,2016-12-07,2016-10-31,2016,0000715446,ITUS Corp,management's discussion and analysis of financ...,neutral,0.824702
8319,2016-12-27,2016-10-31,2016,0001312073,"VERIFONE SYSTEMS, INC.",management's discussion and analysis of financ...,neutral,0.937117
8320,2016-12-19,2016-10-31,2016,0000027673,DEERE JOHN CAPITAL CORP,management's discussion and analysis of financ...,neutral,0.942376
8321,2016-11-16,2016-11-16,2016,0001476765,"Golub Capital BDC, Inc.",management's discussion and analysis of financ...,neutral,0.943860

In [14]:
tenkreports = transform_tenkreports(tenkreports)

In [15]:
weighted_sentiment_10k = aggregate_tenkreports(tenkreports)
weighted_sentiment_10k

          cik report_date  weighted_sentiment_10k
0        1750  2015-05-31                     0.0
1        1750  2016-05-31                     0.0
2        1800  2015-12-31                     0.0
3        1961  2015-12-31                     0.0
4        2034  2015-06-30                     0.0
...       ...         ...                     ...
8229  1669513  2016-09-30                     0.0
8230  1670541  2016-09-30                     0.0
8231  1670869  2016-06-30                     0.0
8232  1674862  2016-09-30                     0.0
8233  1674910  2016-09-30                     0.0

[8234 rows x 3 columns]

In [16]:
merged_earning_calls, weighted_sentiment_10k = prepare_for_merge_10k(merged_earning_calls, weighted_sentiment_10k)

In [17]:
merged_datasets = pd.merge_asof(
    merged_earning_calls,
    weighted_sentiment_10k,
    left_on='MthCalDt',
    right_on='report_date',
    by='cik',
    direction='backward'
)

In [18]:
merged_datasets = fill_missing_10k(merged_datasets)

In [19]:
merged_datasets

,PERMNO,PERMCO,cusip,Ticker,SICCD,NAICS,MthCalDt,MthRet,sprtrn,datadate,...,revenue_growth,net_debt_change,capex_growth,eps_surprise,dividend_change,repurchase_intensity,mostimportantdateutc,weighted_sentiment_earnings_calls,report_date,weighted_sentiment_10k
0,54981,21682,86666510,SNI,251,0,1973-01-31,0.018182,-0.017111,1973-01-31,...,0.011487,0.592,0.000000,0.00,0.000000,0.039631,1973-01-31,0.000000,1973-01-31,0.000000
1,54981,21682,86666510,SNI,251,0,1973-02-28,-0.080357,-0.037490,1973-02-28,...,0.011487,0.592,0.000000,0.00,0.000000,0.039631,1973-02-28,0.000000,1973-02-28,0.000000
2,54981,21682,86666510,SNI,251,0,1973-04-30,-0.106383,-0.040800,1973-04-30,...,0.266296,0.592,0.000000,0.05,0.000000,0.031297,1973-04-30,0.000000,1973-04-30,0.000000
3,54981,21682,86666510,SNI,251,0,1973-05-31,-0.059821,-0.018884,1973-05-31,...,0.266296,0.592,0.000000,0.05,0.000000,0.031297,1973-05-31,0.000000,1973-05-31,0.000000
4,54981,21682,86666510,SNI,251,0,1973-07-31,0.525000,0.037982,1973-07-31,...,0.266296,0.592,0.000000,0.00,0.000000,0.031297,1973-07-31,0.000000,1973-07-31,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493732,17144,20798,37033410,GIS,2099,311999,2024-12-31,-0.037579,-0.024990,2024-12-31,...,0.004391,1500.000,0.024838,1.43,-0.021997,0.059515,2020-12-17,0.134076,2016-05-29,0.752735
493733,81045,30500,75610910,O,6798,531110,2024-12-31,-0.073100,-0.024990,2024-12-31,...,0.291624,1175.826,0.000000,0.23,0.278289,0.032533,2020-11-03,0.054861,2015-12-31,0.000000
493734,23660,6304,17290810,CTAS,2320,315250,2024-12-31,-0.190841,-0.024990,2024-12-31,...,0.072860,0.000,-0.030869,-2.26,0.155273,0.128673,2020-12-22,-0.005627,2016-05-31,0.672340
493735,18668,56751,75686R20,RRBI,9999,522110,2024-12-31,-0.099698,-0.024990,2024-12-31,...,0.127747,0.000,-0.007730,1.36,0.084753,0.103532,2024-12-31,0.000000,2024-12-31,0.000000
493736,23201,59327,Y9233510,USEA,0,483211,2024-12-31,-0.108571,-0.024990,2024-12-31,...,0.259850,-5.554,-0.999914,-0.21,-0.860850,0.000946,2024-12-31,0.000000,2024-12-31,0.000000

In [22]:
merged_datasets.to_parquet('./clean/merged_datasets_with_sentiment.parquet')